<template>
  <v-flex class="change-pass">
    <v-fade-transition mode="out-in">
      <v-btn
        text
        large
        class="mt-5"
        color="primary"
        @click="togglePasswordChange = !togglePasswordChange"
        v-if="!togglePasswordChange"
      >
        {{ translations.button }}
      </v-btn>
      <v-form ref="changePass" v-if="togglePasswordChange">
        <v-text-field
          v-model="newPassword"
          :append-icon="showPassword ? 'visibility' : 'visibility_off'"
          :rules="[passwordRules.required, passwordRules.min]"
          :type="showPassword ? 'text' : 'password'"
          name="password"
          :label="translations.enterNewPass"
          counter
          @click:append="showPassword = !showPassword"
          :disabled="passwordChanged"
        ></v-text-field>
        <v-btn
          text
          color="success"
          @click="changePassword"
          :disabled="passwordChanged"
        >
          {{ translations.submit }}
        </v-btn>
      </v-form>
    </v-fade-transition>
  </v-flex>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
import lang from "@/database/lang";

export default {
  name: "Changepassword",
  data() {
    return {
      newPassword: "",
      togglePasswordChange: false,
      showPassword: false,
      passwordChanged: false,
      passwordRules: {
        required: (value) => !!value || this.translations.passRequired,
        min: (v) => v.length >= 8 || this.translations.passValid,
      },
      translations: {},
    };
  },
  computed: mapState("language", ["currentLanguage"]),
  methods: {
    ...mapMutations("userData", ["setNewPassword"]),
    ...mapMutations("alerts", ["resetAlerts"]),
    ...mapActions("alerts", ["toggleSuccessAlert", "toggleErrorAlert"]),
    changePassword() {
      this.resetAlerts();
      if (this.$refs.changePass.validate()) {
        this.setNewPassword(this.newPassword);
        this.passwordChanged = true;
        this.toggleSuccessAlert(this.translations.alertSuccess);
        this.resetChangePassword();
      } else {
        this.toggleErrorAlert(this.translations.alertError);
      }
    },
    resetChangePassword() {
      setTimeout(() => {
        this.togglePasswordChange = false;
        this.showPassword = false;
        this.passwordChanged = false;
        this.newPassword = "";
      }, 3000);
    },
  },
  created() {
    let t = this.translations;
    let l = lang[this.currentLanguage];
    t.button = l.buttons.changePass;
    t.enterNewPass = l.inputs.changePassword.enterNewPass;
    t.passRequired = l.inputs.changePassword.passRequired;
    t.passValid = l.inputs.changePassword.passValid;
    t.submit = l.buttons.submitPass;
    t.alertSuccess = l.alerts.success.changePassword;
    t.alertError = l.alerts.error.changePassword;
  },
};
</script>

<style scoped>
.change-pass {
  height: 120px;
}
</style>
