<template>
  <v-flex class="row mt-3">
    <h2>{{ translations.title }}</h2>
    <v-btn-toggle>
      <v-btn
        fab
        @click="languageSwitch('pl')"
        :class="{ 'v-btn--active': currentLanguage === 'pl' }"
      >
        <v-img
          width="40"
          src="https://image.flaticon.com/icons/svg/197/197529.svg"
          class="mx-auto"
        ></v-img>
      </v-btn>
      <v-btn
        fab
        @click="languageSwitch('en')"
        :class="{ 'v-btn--active': currentLanguage === 'en' }"
      >
        <v-img
          width="40"
          src="https://image.flaticon.com/icons/svg/197/197374.svg"
          class="mx-auto"
        ></v-img>
      </v-btn>
    </v-btn-toggle>
  </v-flex>
</template>

<script>
import lang from "@/database/lang";
import { mapMutations, mapState } from "vuex";
export default {
  name: "Langswitch",
  data() {
    return {
      bulin: true,
      translations: {},
    };
  },
  computed: {
    ...mapState("language", ["currentLanguage"]),
  },
  methods: {
    ...mapMutations("language", ["setLanguage"]),
    ...mapMutations("userData", ["setUserLanguage"]),
    ...mapMutations(["reRender"]),
    languageSwitch(lang) {
      this.setLanguage(lang);
      this.setUserLanguage(lang);
      this.reRender();
    },
  },
  created() {
    this.translations.title = lang[this.currentLanguage].titles.languageSwitch;
  },
};
</script>

<style scoped></style>
