<template> </template>

<script>
export default {
  name: "Categories",
  data() {
    return {
      selectedCategory: "",
      categories: ["school", "shopping", "work"],
    };
  },
  beforeMount() {
    //import default + custom categories
  },
  methods: {},
};
</script>

<style scoped></style>
