<template>
  <v-form lazy-validation v-if="!isUserLoggedIn">
    <v-container>
      <v-layout class="justify-center">
        <v-flex xs12 md4>
          <h1 class="display-1 font-weight-bold">{{ translations.title }}</h1>
          <v-text-field
            v-model="userMail"
            label="E-mail"
            required
          ></v-text-field>
          <v-text-field
            :append-icon="showPassword ? 'visibility' : 'visibility_off'"
            :type="showPassword ? 'text' : 'password'"
            :label="translations.password"
            class="input-group--focused"
            @click:append="showPassword = !showPassword"
            required
            v-model="userPassword"
          ></v-text-field>
          <v-btn
            :disabled="loading || validation"
            color="success"
            @click="submitLogin"
          >
            {{ translations.submitButton }}
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
import { mapMutations, mapState, mapActions } from "vuex";
import database from "@/database/userdata";
import lang from "@/database/lang";
import router from "@/router/router";

export default {
  name: "Login",
  data() {
    return {
      showPassword: false,
      loading: false,
      userIndexFromDatabase: "",
      userMail: "",
      userPassword: "",
      translations: {},
    };
  },
  computed: {
    ...mapState("language", ["currentLanguage"]),
    ...mapState(["isUserLoggedIn"]),
    validation() {
      return !(this.userMail !== "" && this.userPassword !== "");
    },
  },
  created() {
    let t = this.translations;
    let l = lang[this.currentLanguage];
    t.password = l.inputs.password;
    t.alertError = l.alerts.error.login;
    t.alertSuccess = l.alerts.success.login;
    t.submitButton = l.buttons.submit;
    t.title = l.titles.login;
  },
  methods: {
    ...mapMutations(["setIsUserLoggedIn"]),
    ...mapActions("userData", ["setLoggedUser"]),
    ...mapMutations("alerts", ["resetAlerts"]),
    ...mapActions("alerts", ["toggleSuccessAlert", "toggleErrorAlert"]),
    submitLogin() {
      this.resetAlerts();
      this.loading = true;
      if (this.isUserExist()) {
        this.loginSuccess();
      } else {
        this.loginFail();
      }
    },
    isUserExist() {
      let result = false;
      const usersArray = database.users;
      for (let i = 0; i < database.users.length; i++) {
        if (
          usersArray[i].userMail === this.userMail &&
          usersArray[i].userPassword === this.userPassword
        ) {
          this.userIndexFromDatabase = i;
          result = true;
        }
      }
      return result;
    },
    loginSuccess() {
      this.setIsUserLoggedIn(true);
      this.setLoggedUser(database.users[this.userIndexFromDatabase]);
      this.toggleSuccessAlert(this.translations.alertSuccess);
      router.push("/");
    },
    loginFail() {
      this.toggleErrorAlert(this.translations.alertError);
      this.loading = false;
    },
  },
};
</script>

<style scoped></style>
