<template>
  <v-flex v-if="isUserLoggedIn">
    <h1>{{ translations.mainTitle }}</h1>
  </v-flex>
</template>

<script>
import { mapState } from "vuex";
import lang from "@/database/lang";

export default {
  name: "Main",
  data() {
    return {
      translations: {},
    };
  },
  computed: {
    ...mapState(["isUserLoggedIn"]),
    ...mapState("language", ["currentLanguage"]),
  },
  created() {
    let t = this.translations;
    t.mainTitle = lang[this.currentLanguage].titles.main;
  },
};
</script>

<style scoped></style>
