<template>
  <v-flex
    xsx12
    sm6
    md4
    class="settings justify-center column mx-auto"
    v-if="isUserLoggedIn"
  >
    <h1 class="mb-4">{{ translations.title }}</h1>
    <Changepassword></Changepassword>
    <Langswitch></Langswitch>
    <Categoriesmanager></Categoriesmanager>
    <!--    templatetodo-->

    <v-btn dark @click="logOut">
      <v-icon dark left>
        remove_circle
      </v-icon>
      {{ translations.signOut }}
    </v-btn>
  </v-flex>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
import router from "@/router/router";
import Changepassword from "@/components/usersettings/Changepassword";
import Langswitch from "@/components/usersettings/Langswitch";
import Categoriesmanager from "@/components/usersettings/Categoriesmanager";
import lang from "@/database/lang";

export default {
  name: "Usersettings",
  data() {
    return {
      translations: {},
    };
  },
  computed: {
    ...mapState("language", ["currentLanguage"]),
    ...mapState(["isUserLoggedIn"]),
  },
  methods: {
    ...mapMutations(["setIsUserLoggedIn"]),
    ...mapActions("userData", ["updateDatabase"]),
    logOut() {
      this.setIsUserLoggedIn(false);
      router.push("/login");
    },
    openTodoTemplateSetting() {},
    setTodoTemplate() {},
  },
  components: {
    Changepassword,
    Langswitch,
    Categoriesmanager,
  },
  created() {
    let t = this.translations;
    t.title = lang[this.currentLanguage].titles.settings;
    t.signOut = lang[this.currentLanguage].buttons.signOut;
  },
  beforeDestroy() {
    this.updateDatabase();
  },
};
</script>

<style scoped></style>
