<template> </template>

<script>
export default {
  name: "Todomain",
  data() {
    return {
      todoData: {},
    };
  },
  methods: {
    changeData() {},
  },
};
</script>

<style scoped></style>
