<template> </template>

<script>
export default {
  name: "Todolist",
  data() {
    return {
      todos: [],
      completedTodos: 0,
      currentTodos: 0,
    };
  },
  beforeMount() {
    //import todos from store
  },
  methods: {
    openTodoDetails() {},
  },
};
</script>

<style scoped></style>
