<template>
  <v-toolbar dark class="indigo">
    <v-toolbar-title>Bros TODO list</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items
      v-for="(route, index) in activeRoutes"
      :key="route.name"
      class="hidden-sm-and-down"
    >
      <v-btn text :to="route.path" class="text-capitalize">
        {{ menuNames(index) }}
      </v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
import { mapState } from "vuex";
import lang from "@/database/lang";

export default {
  name: "Header",
  data() {
    return {
      routes: this.$router.options.routes,
    };
  },
  computed: {
    ...mapState(["isUserLoggedIn"]),
    ...mapState("language", ["currentLanguage"]),
    activeRoutes() {
      return this.routes.filter((route) => {
        return route.show === !this.isUserLoggedIn;
      });
    },
  },
  methods: {
    menuNames(index) {
      return lang[this.currentLanguage].menu[index];
    },
  },
};
</script>

<style scoped></style>
