<template>
  <v-footer column app fixed height="64" class="grey lighten-5">
    <v-alert
      class="xs12"
      :value="currentAlert.alert"
      :type="currentAlert.type"
      transition="scale-transition"
      style="width: 100%"
    >
      {{ currentAlert.text }}
    </v-alert>
  </v-footer>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "Footer",
  computed: mapState(["currentAlert"]),
};
</script>

<style scoped></style>
